.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.chat-main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #ffffff;
  max-height: calc(100vh - 160px);
}

.chat-sidebar {
  width: 25%;
  background-color: #f8f9fa;
  padding: 10px;
  border-left: 1px solid #ddd;
  overflow-y: auto;
}

.messages-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 8px 12px;
  border-radius: 20px;
  max-width: 70%;
  display: inline-block;
}

.message.received {
  background-color: #e9ecef;
}

.message.sent {
  background-color: #43a154;
  color: white;
}

.chat-footer {
  padding: 10px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-input {
  width: 100%;
}

.send-button {
  width: 20%;
  background-color: #43a154;
  border: transparent;
}

.send-button:hover {
  background-color: #2b6836;
}

.sender-info{
  font-size: 0.8rem;
  color: #6c757d;
  margin-top: 4px;
  text-align: left;
  font-style: italic;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.message-container.sent {
  align-items: flex-end;
}

.message-container.sent .sender-info {
  text-align: right;
}