body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 210, 210);
  height: 100vh;
  padding: 20px;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  border-radius: 15px;
  padding: 50px;
  width: 70%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titleContainer {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputButton {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #43a154;
  color: white;
  transition: background-color 0.3s;
  width:25%;
}

.inputButton:hover {
  background-color: #2b6836;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.welcomeImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.errorLabel {
  color: red;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 50px;
}

input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:75%;
}

.linkButton{
    color: #9d9d9d;
    font-weight: bold;
    text-decoration: none;
}

.linkButton:hover{
    color: #4b4b4b;
}

#chatPage{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.defaultMessage{
    display: flex;
    margin-top: 50px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    color: #9d9d9d;
}

.book-card {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.pageButton{
  background-color: #43a154;
  border: transparent;
}

.pageButton:hover{
  background-color: #2b6836;
}

.pageButton:disabled{
  background-color: #9d9d9d;
}