.navbar-custom {
  background-color: #8fa493;
  height: 70px;
}

.search-form{
    border: transparent;
    border-radius: 40px;
    width: 250px;
}

#search-button{
    background-color: transparent;
    border: transparent;
}

#search-button:hover{
    background-color: #566459;
}